# API
PORT=8080
HOST=http://localhost
MYAAW_BASE_URL=http://localhost:8080
ALLOWED_ORIGINS=http://localhost:5050,http://localhost:8080

# DATABASE
DB_NAME=myaaw
MONGODB_URI=mongodb://localhost:27017

# REDIS
REDIS_URL=redis://localhost:6379

# RABBIT MQ
QUEUE_NAME=messages
RABBITMQ_URL=amqp://guest:guest@localhost:5672/

# LLM
STREAM_RESPONSE=true
LLM_PROVIDER_NAME=gemini
LLM_PROVIDER_API_KEY=
LLM_PROVIDER_BASE_URL=https://generativelanguage.googleapis.com

# TRANSCRIBER PROVIDER
TRANSCRIBER_PROVIDER_NAME=gemini
TRANSCRIBER_API_KEY=

# TAVILY
TAVILY_API_KEY=