# API
PORT=8080
HOST=http://localhost
MYAAW_BASE_URL=http://localhost:8080
ALLOWED_ORIGINS=http://localhost:5050,http://localhost:8080

# DATABASE
# DB_PATH= (Optional, defaults to ~/.myaaw/myaaw.db)

# EXTERNAL SKILLS / TOOLS
TAVILY_API_KEY=